Dependencies

In [1]:
import pandas as pd

Data Display and Exploration

In [16]:
# Create a reference the CSV file desired
csv_path = "Resources/WDW_Rides.csv"

# Read the CSV into a Pandas DataFrame
rides_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
rides_df

,Ride_name,Park_location,Park_area,Ride_type_all,Ride_type_thrill,Ride_type_spinning,Ride_type_slow,Ride_type_small_drops,Ride_type_big_drops,Ride_type_dark,...,Age_interest_teens,Age_interest_adults,Height_req_inches,Ride_duration_min,Open_date,Age_of_ride_days,Age_of_ride_years,Age_of_ride_total,TL_rank,TA_Stars
0,Alien Swirling Saucers,HS,Toy Story Land,spinning,No,Yes,No,No,No,No,...,Yes,Yes,32,1.50,6/30/18,"1,721.00",4.71,4 years 8 months 16 days,31.0,NaN
1,Astro Orbiter,MK,Tomorrowland,"spinning, slow",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,2/25/95,"10,247.00",28.05,28 years 0 months 20 days,43.0,3.5
2,Avatar Flight of Passage,AK,Pandora,thrill,Yes,No,No,No,No,No,...,Yes,Yes,44,5.00,5/27/17,"2,120.00",5.80,5 years 9 months 20 days,9.0,5.0
3,Big Thunder Mountain Railroad,MK,Frontierland,"thirll, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,40,3.50,9/23/80,"15,515.00",42.48,42 years 5 months 23 days,8.0,4.5
4,Buzz Lightyear's Space Ranger Spin,MK,Tomorrowland,"spinning, slow",No,Yes,Yes,No,No,No,...,Yes,Yes,0,4.00,10/7/98,"8,927.00",24.44,24 years 5 months 9 days,32.0,4.5
5,Dinosaur,AK,Dinoland USA,"thrill, small drops, dark, scary",Yes,No,No,Yes,No,Yes,...,Yes,Yes,40,3.25,4/22/98,"9,095.00",24.90,24 years 10 months 24 days,24.0,4.0
6,Dumbo the Flying Elephant,MK,Fantasyland,"spinning, slow",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,10/1/71,"18,795.00",51.46,51 years 5 months 16 days,29.0,4.5
7,Expedition Everest,AK,Asia,"thrill, big drops, dark",Yes,No,No,No,Yes,Yes,...,Yes,Yes,44,2.75,4/7/06,"6,188.00",16.94,16 years 11 months 9 days,1.0,5.0
8,Frozen Ever After,EC,World Showcase,"slow, small drops, dark",No,No,Yes,Yes,No,Yes,...,Yes,Yes,0,5.00,6/21/16,"2,460.00",6.74,6 years 8 months 25 days,27.0,4.0
9,Gran Fiesta Tour Starring The Three Caballeros,EC,World Showcase,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,8.00,4/2/07,"5,828.00",15.96,15 years 11 months 15 days,47.0,4.0
10,Haunted Mansion,MK,Liberty Square,"slow, dark",No,No,Yes,No,No,Yes,...,Yes,Yes,0,7.50,10/1/71,"18,795.00",51.46,51 years 5 months 16 days,2.0,4.5
11,It's a Small World,MK,Fantasyland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,10.50,10/1/71,"18,795.00",51.46,51 years 5 months 16 days,16.0,4.0
12,Journey Into Imagination with Figment,EC,Future World,"slow, dark",No,No,Yes,No,No,Yes,...,Yes,Yes,0,11.00,6/1/02,"7,594.00",20.79,20 years 9 months 15 days,53.0,3.0
13,Jungle Cruise,MK,Adventureland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,9.00,10/1/71,"18,795.00",51.46,51 years 5 months 16 days,19.0,4.0
14,Kali River Rapids,AK,Asia,"thrill, water, small drops, spinning",Yes,Yes,No,Yes,No,No,...,Yes,Yes,38,3.50,2/15/99,"8,796.00",24.08,24 years 0 months 30 days,21.0,4.5
15,Kilimanjaro Safaris,AK,Africa,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,18.50,4/22/98,"9,095.00",24.90,24 years 10 months 24 days,11.0,4.5
16,Living with the Land,EC,Future World,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,13.75,10/1/82,"14,777.00",40.46,40 years 5 months 15 days,42.0,4.0
17,Mad Tea Party,MK,Fantasyland,spinning,No,Yes,No,No,No,No,...,Yes,Yes,0,1.50,10/1/71,"18,795.00",51.46,51 years 5 months 16 days,20.0,4.0
18,Main Street Vehicles,MK,Main Street USA,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,3.00,10/1/71,"18,795.00",51.46,51 years 5 months 16 days,NaN,4.5
19,Mission Space,EC,Future World,"thrill, spinning, dark",Yes,Yes,No,No,No,Yes,...,Yes,Yes,40,5.75,10/1/03,"7,107.00",19.46,19 years 5 months 16 days,33.0,3.5
20,Na'vi River Journey,AK,Pandora,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,5.00,5/27/17,"2,120.00",5.80,5 years 9 months 20 days,25.0,4.0
21,Peter Pan's Flight,MK,Fantasyland,"slow, small drops",No,No,Yes,Yes,No,No,...,Yes,Yes,0,2.75,10/1/71,"18,795.00",51.46,51 years 5 months 16 days,18.0,4.0
22,Pirates of the Caribbean,MK,Adventureland,"slow, small drops, dark",No,No,Yes,Yes,No,Yes,...,Yes,Yes,0,8.50,12/17/73,"17,987.00",49.25,49 years 2 months 30 days,12.0,4.5
23,Primeval Whirl,AK,Dinoland USA,"thrill, small drops, spinning",Yes,Yes,No,Yes,No,No,...,Yes,Yes,48,1.25,4/18/02,"7,638.00",20.91,20 years 10 months 28 days,41.0,4.0
24,Prince Charming Regal Carrousel,MK,Fantasyland,"slow, spinning",No,Yes,Yes,No,No,No,...,Yes,Yes,0,2.00,10/1/71,"18,795.00",51.46,51 years 5 months 16 days,51.0,4.5
25,Rock 'n' Roller Coaster,HS,Sunset Boulevard,"thrill, big drops",Yes,No,No,No,Yes,No,...,Yes,Yes,48,1.25,7/29/99,"8,632.00",23.63,23 years 7 months 19 days,13.0,5.0
26,Seven Dwarfs Mine Train,MK,Fantasyland,"thrill, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,38,2.50,5/28/14,"3,215.00",8.80,8 years 9 months 19 days,10.0,4.5
27,Slinky Dog Dash,HS,Toy Story Land,"thrill, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,38,2.00,6/30/18,"1,721.00",4.71,4 years 8 months 16 days,14.0,NaN
28,Soarin' Around the World,EC,Future World,"slow, small drops",No,No,Yes,Yes,No,No,...,Yes,Yes,40,5.00,5/5/05,"6,525.00",17.86,17 years 10 months 11 days,4.0,4.5
29,Space Mountain,MK,Tomorrowland,"thrill, big drops, dark",Yes,No,No,No,Yes,Yes,...,Yes,Yes,44,2.50,1/15/75,"17,593.00",48.17,48 years 2 months 1 days,5.0,4.5
30,Spaceship Earth,EC,Future World,"slow, dark",No,No,Yes,No,No,Yes,...,Yes,Yes,0,15.00,10/1/82,"14,777.00",40.46,40 years 5 months 15 days,22.0,4.5
31,Splash Mountain,MK,Frontierland,"thrill, water, big drops",Yes,No,No,No,Yes,No,...,Yes,Yes,40,11.00,7/17/92,"11,200.00",30.66,30 years 7 months 30 days,7.0,4.5
32,Star Tours,HS,Echo Lake,small drops,No,No,No,Yes,No,No,...,Yes,Yes,40,5.00,12/15/89,"12,145.00",33.25,33 years 3 months 1 days,15.0,4.5
33,Test Track,EC,Future World,"thrill, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,40,4.00,3/16/99,"8,767.00",24.00,24 years 0 months 1 days,23.0,4.5
34,The Barnstormer,MK,Fantasyland,small drops,No,No,No,Yes,No,No,...,No,No,35,1.00,10/1/96,"9,663.00",26.46,26 years 5 months 15 days,36.0,3.5
35,The Magic Carpets of Aladdin,MK,Adventureland,"slow, spinning",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,5/23/01,"7,968.00",21.82,21 years 9 months 24 days,44.0,4.0
36,The Many Adventures of Winnie the Pooh,MK,Fantasyland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,3.25,6/5/99,"8,686.00",23.78,23 years 9 months 12 days,28.0,4.0
37,The Twilight Zone Tower of Terror,HS,Sunset Boulevard,"thrill, big drops, dark, scary",Yes,No,No,No,Yes,Yes,...,Yes,Yes,40,5.00,7/22/94,"10,465.00",28.65,28 years 7 months 25 days,3.0,5.0
38,Tomorrowland Speedway,MK,Tomorrowland,slow,No,No,Yes,No,No,No,...,Yes,Yes,32,4.75,10/1/71,"18,795.00",51.46,51 years 5 months 16 days,38.0,3.5
39,Tomorrowland Transit Authority PeopleMover,MK,Tomorrowland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,10.00,7/1/75,"17,426.00",47.71,47 years 8 months 16 days,30.0,4.0
40,Toy Story Mania,HS,Toy Story Land,spinning,No,Yes,No,No,No,No,...,Yes,Yes,0,8.00,5/31/08,"5,403.00",14.79,14 years 9 months 16 days,6.0,4.5
41,TriceraTop Spin,AK,Dinoland USA,"slow, spinning",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,3/31/02,"7,656.00",20.96,20 years 11 months 16 days,45.0,4.0
42,Under the Sea,MK,Fantasyland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,6.25,12/6/12,"3,753.00",10.28,10 years 3 months 10 days,34.0,4.5
43,Walt Disney World Railroad,MK,Main Street USA,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,20.00,10/1/71,"18,795.00",51.46,51 years 5 months 16 days,48.0,4.0
44,Walt Disney's Carousel of Progress,MK,Tomorrowland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,20.75,1/15/75,"17,593.00",48.17,48 years 2 months 1 days,52.0,4.0
45,Wildlife Express Train,AK,Africa,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,12.00,4/22/98,"9,095.00",24.90,24 years 10 months 24 days,NaN,3.5

In [24]:
#count values in each column
rides_df.count()

Ride_name                    46
Park_location                46
Park_area                    46
Ride_type_all                46
Ride_type_thrill             46
Ride_type_spinning           46
Ride_type_slow               46
Ride_type_small_drops        46
Ride_type_big_drops          46
Ride_type_dark               46
Ride_type_scary              46
Ride_type_water              46
Fast_pass                    46
Classic                      46
Age_interest_all             46
Age_interest_preschoolers    46
Age_interest_kids            46
Age_interest_tweens          46
Age_interest_teens           46
Age_interest_adults          46
Height_req_inches            46
Ride_duration_min            46
Open_date                    46
Age_of_ride_days             46
Age_of_ride_years            46
Age_of_ride_total            46
TL_rank                      44
TA_Stars                     44
dtype: int64

In [30]:
#list of all rides
rides_list = rides_df["Ride_name"].value_counts()
rides_list

Alien Swirling Saucers                            1
The Barnstormer                                   1
Rock 'n' Roller Coaster                           1
Seven Dwarfs Mine Train                           1
Slinky Dog Dash                                   1
Soarin' Around the World                          1
Space Mountain                                    1
Spaceship Earth                                   1
Splash Mountain                                   1
Star Tours                                        1
Test Track                                        1
The Magic Carpets of Aladdin                      1
Astro Orbiter                                     1
The Many Adventures of Winnie the Pooh            1
The Twilight Zone Tower of Terror                 1
Tomorrowland Speedway                             1
Tomorrowland Transit Authority PeopleMover        1
Toy Story Mania                                   1
TriceraTop Spin                                   1
Under the Sea                                     1
Walt Disney World Railroad                        1
Walt Disney's Carousel of Progress                1
Prince Charming Regal Carrousel                   1
Primeval Whirl                                    1
Pirates of the Caribbean                          1
Peter Pan's Flight                                1
Avatar Flight of Passage                          1
Big Thunder Mountain Railroad                     1
Buzz Lightyear's Space Ranger Spin                1
Dinosaur                                          1
Dumbo the Flying Elephant                         1
Expedition Everest                                1
Frozen Ever After                                 1
Gran Fiesta Tour Starring The Three Caballeros    1
Haunted Mansion                                   1
It's a Small World                                1
Journey Into Imagination with Figment             1
Jungle Cruise                                     1
Kali River Rapids                                 1
Kilimanjaro Safaris                               1
Living with the Land                              1
Mad Tea Party                                     1
Main Street Vehicles                              1
Mission Space                                     1
Na'vi River Journey                               1
Wildlife Express Train                            1
Name: Ride_name, dtype: int64

In [ ]:
#how to print total sum of rides_counts? aka what is the total number of rides per park?

Ride Type Counts
    ~count all
    ~by park
    ~by type

Visualizations:
    ~Bar Graph:  Total Ride Count by Park
    ~Pie Charts: Ride Types by Park

Rides by Height:
    ~total count of rides within each height bucket
    ~rides by height per park

Ride Open Date
    ~Ride Names ordered by Open Date
    ~Visualization: timeline of ride names by open date

Data Cleaning
    ~remove fastpass column
    ~separate entries within ride_type_all and age_interest_all 
    ~one hot encoding to prepare for ML modeling
    ~display updated dataframe